@page "/"
@using MoodTrackerLib.Implementation
@using MoodTrackerLib.Interfaces
@using MoodTrackerLib.Models

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<button @onclick="LoadData">Load</button>
<RadzenChart>
    <RadzenLineSeries Smooth="false" Data="@_moodData" CategoryProperty="Date.DateTime"
                      Title="Mood Score Chart" LineType="LineType.Solid" ValueProperty="Points">
        <RadzenMarkers MarkerType="MarkerType.Square" />
    </RadzenLineSeries>
</RadzenChart>

@code
{
    private IEnumerable<IDay> _moodData;
    private DataAccess _data = new DataAccess();

    protected override void OnInitialized()
    {
        _moodData = _data.GetDays();
    }

    private void LoadData()
    {
        _moodData = JsonData.LoadDaysFromJson();
    }

}
